snippet vt "vue template" b
<template lang="${1:pug}">

</template>

<script>
export default {
}
</script>

<style lang="${2:scss}" ${3:scoped}>
</style>
endsnippet


snippet vcom "vue computed template" b
computed: {
	/**
	 * $1
	 */
	${2:someComputed}() {
		$3
	}
},
endsnippet

snippet vmet "vue methods template" b
methods: {
	/**
	 * $1
	 */
	${2:someMethods}() {
		$3
	}
},
endsnippet
