snippet vt "vue template" b
<template>

</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
</style>
endsnippet


snippet vcom "vue computed template" b
computed: {
	/**
	 * $1
	 */
	${2:someComputed}() {
		$3
	}
},
endsnippet

snippet vmet "vue computed template" b
methods: {
	/**
	 * $1
	 */
	${2:someComputed}() {
		$3
	}
},
endsnippet
