[user]
	emai = y.ono.varial@gmail.com
	name = Yusuke Ono
	email = y.ono.varial@gmail.com

[alias]
    gr =  log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    st = status
    cm = commit
    difff = diff --word-diff
    br = branch
    one = log --oneline
    ch = checkout
    reseth = reset --hard
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    amd = commit --amend
[core]
    editor = "mvim -f"
