[user]
	email = yohno366@gmail.com
	name = yusuke ohno

[alias]
    gr      =  log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    st      = status --short --branch
    cm      = commit
    df      = diff --color-words
    br      = branch
    lg      = log --stat --decorate --find-renames
    one     = log --pretty=oneline -n 20 --graph --abbrev-commit
    ch      = checkout
    reseth  = reset --hard
    lgr     = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lga     = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    amd     = commit --amend
    cp      = cherry-pick
    cbn     = ! git branch | grep -e '^\\* ' | sed -e 's/^\\* //g'
    pull-f  = !git fetch && git reset --hard origin/$(git cbn)
    pushoc  = !git push origin $(git cbn)
    pulloc  = !git pull origin $(git cbn)
    mg      = merge
    mga     = merge --abort
    mgn     = merge --no-ff
    adu     = add -u :/
    ad      = add
    sh      = stash
    pp      = stash pop
    aliases = config --get-regexp alias
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential]
	helper = !gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
